{% extends 'base.html' %}
{% block main %}
    <form action="" method="POST" novalidate>
    {{ form.hidden_tag() }}
        <table>
            <tr>
                <th>Product</th>
                <th>Specs</th>
                <th>Qtt</th>
            </tr>
            {% for item in form.items_ %}
                {% if loop.index is even %}
                    <tr class="even_row">
                {% else %}
                    <tr class="odd_row">
                {% endif %}
                        <td>{{ item.product_code }}</td>
                        <td>{{ item.specs }}</td>
                        <td>{{ item.qtt }}</td>
                    </tr>
            {% endfor %}
            </tr>
        </table>
        <p>{{ form.submit() }}
        <button type="button" class="button" onclick=simple_action("{{ url_for('reseller_orders') }}")>My Orders</button>
        <button type="button" class="button" onclick=simple_action("{{ url_for('catalog') }}")>Return to Catalog</button>
        <button type="button" class="button_back" onclick=simple_action("{{ url_for('users_signout') }}")>Sign Out</button>
        </p>
    </form>
        <script type="text/javascript">
            function simple_action(target) {
                window.location = target
            }

            function confirmed_action(target) {
                if (confirm('Are you sure?')) {
                    window.location = target
                }
            }
        </script>
{% endblock %}