{% extends 'base.html' %}
{% block main %}
{% if user.id=='admin' %}
<div class="d-flex justify-content-center">
    <div class="box-admin">
        <h1 class="header-text">Actions</h1>
                <button type="button" class="button" onclick=simple_action("{{ url_for('restaurant_create') }}")>Create a Restaurant</button>
                <button type="button" class="button" onclick=simple_action("{{ url_for('create_event') }}")>Create an Event</button>
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="box-admin">
        <table>
            <tr>
                <th>Image</th>
                <th>Id</th>
                <th>Name</th>
                <th>Location</th>
                <th>Edit</th>
                <th>Delete?</th>
            </tr>
            {% for food in foods %}
            {% if loop.index % 2 == 0 %}
            <tr class="even_row">
                {% else %}
            <tr class="odd_row">
                {% endif %}
                <td><img src="{{ food.image }}"></td>
                <td>{{ food.id }}</td>
                <td>{{ food.name }}</td>
                <td>{{ food.location }}</td>
                <td><button type="button" class="button" onclick=simple_action("{{ url_for('restaurant_edit', id=food.id) }}")>Edit</button></td>
                <td><button type="button" class="button_back" onclick=confirmed_action("{{ url_for('restaurant_delete', id=food.id) }}")>Delete</button></td>
            </tr>
            {% endfor %}
        </table>
        
    </div>
</div>
<script type="text/javascript">
    function simple_action(target) {
        window.location = target
    }
    function confirmed_action(target) {
                if (confirm('Are you sure you want to delete this restaurant?')) {
                    window.location = target
                }
            }
</script>

{% else %}

<p />
<h3>Not Authorized</h3>
<p />
<button type="button" class="button" onclick=simple_action("{{ url_for('index') }}")>Back to Home</button>
<script type="text/javascript">
    function simple_action(target) {
        window.location = target
    }
</script>
{% endif %}
{% endblock %}