{% extends 'base.html' %}
{% block main %}
<div class="card" style="width: 18rem;">
  <img src="https://d26oc3sg82pgk3.cloudfront.net/files/media/edit/image/45586/square_thumb%402x.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Upcoming Events</h5>
    <p class="card-text">
        <table>
            <tr>
                <th>Location:</th>
                <th>Desc</th>
                <th>Date</th>
                <th>ID</th> 
            </tr>
            {% for event in five_events %}
            {% if loop.index % 2 == 0 %}
            <tr class="even_row">
                {% else %}
            <tr class="odd_row">
                {% endif %}
                <td>{{ event.food_id }}</td>
                <td>{{ event.desc }}</td>
                <td>{{ event.date }}</td>
                <td>{{ event.id }}</td>
            </tr>
            {% endfor %}
        </table>

</p>
    <a href="#" <button type="button" class="button" onclick=simple_action("{{ url_for('list_events') }}")>See All Events</button></a>
  </div>
</div>
{% endblock %}