{% extends 'base.html' %}
{% block main %}
{% if user.id=='admin' %}
<div class="d-flex justify-content-center">
    <div class="box">
        <h1 class="header-text">Create New Restaurant</h1>
        <form action="" method="POST" novalidate>
            {{ form.hidden_tag() }}
            <p>{{ form.id.label }} <br> {{ form.id(size=10) }}</p>
            <p>{{ form.name.label }} <br> {{ form.name(size=10) }}</p>
            <p>{{ form.location.label }} <br> {{form.location(size=30)}}</p>
            <p>{{ form.image.label }} <br> {{form.image(size=30)}}</p>
            <p>{{ form.submit() }}
                <button type="button" class="button_back" onclick=confirmed_action("{{ url_for('index_admin') }}")>Back to Admin Home</button>
            </p>
        </form>
        <script type="text/javascript">
            function simple_action(target) {
                window.location = target
            }
            function confirmed_action(target) {
                if (confirm('Are you sure you want to leave without saving changes?')) {
                    window.location = target
                }
            }
        </script>
    </div>
</div>    


{% else %}

<p />
<h3>Not Authorized</h3>
<p />
<button type="button" class="button" onclick=simple_action("{{ url_for('index') }}")>Back to Home</button>
<script type="text/javascript">
    function simple_action(target) {
        window.location = target
    }
</script>
{% endif %}
{% endblock %}